.col2 {
  display: flex;
  justify-content: space-between;
  margin: 25px 4px 0 4px;
  height: 100px;
}
.col2-left {
  width: 490px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
  padding: 8px 38px 0 30px;
}
.col2-right {
  width: 490px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
  padding: 8px 38px 0 30px;
}
