li.ant-menu-item {
  color: #8b93a0;
  margin: 1px !important;
  font-size: medium;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  background-color: transparent !important;
  font-weight: 500 !important;
  color: #9333ea !important;
}

.ant-menu-item-selected {
  background-color: white !important;
  color: #9333ea !important;
  font-weight: 600 !important;
}

.ant-menu-submenu-title {
  color: #8b93a0 !important;
  margin: 0px !important;
  font-size: medium;
}

.ant-menu.ant-menu-sub.ant-menu-inline {
  background-color: transparent !important;
  margin-left: 5px !important;
}
.sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.list {
  list-style: none;
  padding-top: 20px;
  cursor: pointer;
}

.links,
.sublist-item .sublink {
  text-decoration: none;
  color: #758194;
}

.list .item .row.selected .links,
.list .item .row.selected .links .anticon,
.sublist-item .sublink.selected {
  font-weight: 700;
  color: #9333ea;
}

.list .item .links .anticon {
  margin: 0 10px 0 15px;
  font-size: 18px;
  color: #8b93a0;
}

.list .item .links:hover .anticon {
  color: #9333ea;
}

.list .item .links {
  padding: 10px;
  display: flex;
  align-items: center;
}

.list .item .links:hover {
  color: #9333ea;
  font-weight: 500;
}

.logo {
  padding-top: 12px;
  color: #9333ea;
  font-size: x-large;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sublist {
  list-style: disc;
  color: #758194;
}

.sublist-item {
  padding: 5px;
  margin-left: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.sublist-item:hover,
.sublist-item .sublink:hover {
  color: #9333ea;
  font-weight: 500;
}

.sublist-item .sublink {
  text-decoration: none;
  color: #8391a7;
}

.sublist-item .sublink:hover {
  font-weight: 500;
}

.sublist-item.selected,
.sublist-item.selected .sublink {
  color: #9333ea;
  font-weight: 700;
}
