.team-page {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  gap: 20px;
  margin: 18px 26px;
  border-radius: 10px;
}
.the-teams {
  display: flex;
  gap: 30px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: rgb(255, 255, 255);
  height: 75px;
  border-radius: 10px;
}
.search-div {
  border: 1px solid;
  width: 25%;
}
.task-line {
  border-left: 1px solid;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-div {
  padding: 0 40px 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
